@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.App {
  min-height: 100vh;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
}

.header {
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  color: #8baaaa;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.search-form {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  max-width: 50vh;
  width: 50%;
  border: none;
  padding: 10px;
  font-size: 15px;
}

.search-btn {
  background-color: #8baaaa;
  border: none;
  padding: 10px;
  font-size: 15px;
  color: white;
}
.recipes {
  min-height: 40vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer {
  background-color: #8baaaa;
  text-align: center;
  padding: 5px;
}

.footer a {
  text-decoration: none;
  color: black;
}
